# ==============================
# FLUTTER / DART
# ==============================
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
*.jks
*.keystore

# ==============================
# .NET
# ==============================
**/bin/
**/obj/

# ==============================
# VISUAL STUDIO / VS CODE
# ==============================
.vs/
.vscode/
*.user
*.suo

# ==============================
# CONFIGURACIÓN SENSIBLE
# ==============================
appsettings.Development.json
**/appsettings.Development.json
.env
**/.env

# ==============================
# ARCHIVOS DEL SISTEMA
# ==============================
.DS_Store
Thumbs.db

_backup_permisos_*/

# Artefactos privados de entrega
release_backup/
